<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="gmailSMTP" value="smtp.gmail.com"/>
    <add key="fromEmail" value="pvamudtsinfo@gmail.com"/>
    <add key="smtpPassword" value="pvamudts"/>
    <add key="webSiteURL" value="http://pvamu-defecttrack.azurewebsites.net/Login.aspx" />
     
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="Forms">
        <forms name=".ASPXAUTH"
               loginUrl="Login.aspx"
               protection="All"
               timeout="30"
               path="/"
               requireSSL="false"
               slidingExpiration="true">
        </forms>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  <connectionStrings>
    <!--<add name="dbConnectionString" connectionString="server=wfva7r26tm.database.windows.net,1433;database=DefectTrackDB; User ID=praba;Password=hota@1234;" />-->
     <add name="dbConnectionString" connectionString="server=localhost;database=DefectTrackDB;Integrated Security=True;" />
  </connectionStrings>
  
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
