<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="gmailSMTP" value="smtp.gmail.com"/>
    <add key="fromEmail" value="pvamudtsinfo@gmail.com"/>
    <add key="smtpPassword" value="pvamudts"/>
    <add key="outgoingPort" value="587"/>
    <add key="webSiteURL" value="http://pvamu-defect-track.azurewebsites.net/Login.aspx" />     
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="Forms">
        <forms name=".ASPXAUTH"
               loginUrl="Login.aspx"
               protection="All"
               timeout="30"
               path="/"
               requireSSL="false"
               slidingExpiration="true">
        </forms>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
     <customErrors mode="Off"/>
    </system.web>
  <connectionStrings>
      <add name="dbConnectionString" connectionString="server=localhost\SQL2014;database=DefectTrackDB;uid=nini;pwd=nini;" />
  </connectionStrings>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
